doctype html
html
    head
        title=title
        link(rel="stylesheet", type="text/css", href="static/styles/main.css")
    body
        h1= title
        h2= heading
        div(class="map")
            iframe(allowfullscreen width="1000" height="700" src="https://www.openstreetmap.org/export/embed.html?bbox=-24.082031250000004%2C63.38167869302983%2C-15.864257812500002%2C66.24031184756058&amp;layer=mapnik")
