doctype html
html
  head
    title=title
    link(rel="stylesheet", type="text/css", href="static/styles/main.css")
  body
    h1= title
    div(class="flex-column")
      each route in routes
        a(class="route-item" href=route.path) #{route.name}
